*{
    text-decoration: none;
    text-transform: capitalize;
    outline: 0; border: 0;
    /* font-family: 'Ms Madi', cursive; */
    font-family: 'Georgia', cursive;
    transition: all 0.2s linear;
}
body{
    background: url(fon1.png);
    backdrop-filter: blur(5px);
    color: rgb(39, 37, 37);
    font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
}
img{
    border-radius: 30%;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}
:root{
    --box-shodow: 0 0.5rem 0.5rem rgba(0,0,0,0.3);
    --mincolor: rgb(6, 6, 6);
    --sc-color: rgb(194,143,2)
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}
html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: rgb(27, 0, 108);
}
html::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 5rem;
}
.btn{
    display: inline-block;
    border-radius: 15px;
    margin: 1rem 0;
    padding: 0.6rem 3rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    letter-spacing: 0.2rem;

}
.heading{
    font-size: 6.2rem;
    color: rgb(136, 51, 51);
    padding: 1.5rem;
    text-align: center;
    margin-top: 12rem;
}
.heading:hover{
    color: #131313;
    background-color: #e7e5e4;
    text-shadow: 
      1px -1px 0 #df9494, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
header .logo{
    color: black;
    font-size: 2rem;
}
/* header .logo i{
    color: blue;
    font-size: 1.3rem;
} */
header .navbar a{
    margin: 0 0.7rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
header .navbar a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 0.1em solid rgb(255, 255, 255);
    padding-bottom: 0.5rem;
}
header .icons div{
    color: var(--mincolor);
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 0.3rem;
}
header .icons div:hover{
    color: var(--sc-color);
}
#bars-btn{
    display: none;
}
header .search-form{
    position: absolute;
    top: 110%;
    right: 7%;
    width: 35%; height: 2rem;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shodow);
    transform: scaleY(0);
    transform-origin: top;

}
header .search-form.active{
    transform: scaleY(1);
}
header .search-form input{
    height: 100%; width: 100%;
    font-size: 1.5rem;
    padding: 0.4rem;
}
header .search-form label{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.3rem;
    color: blue;
}
header .search-form label:hover{
    color: var(--sc-color);
}
header .items{
    position: absolute;
    top: 110%;
    right: 1000rem;
    background: rgb(22, 22, 22);
    padding: 0 1.5rem;
    box-shadow: var(--box-shodow);
    width: 20rem;
}
header .items.active{
    right: 5%;
}
header .items .item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}
header .items .item .fa-times{
    position: absolute;
    top: 1rem; right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--mincolor);
}
header .items .item .fa-times:hover{
    color: var(--sc-color);
    transform: rotate(90deg);
}
header .items .item img{
    height: 5rem;
}
header .items .item .content h3{
    font-size: 1.8rem;
    color: #eee;
    padding-bottom: 0.5rem;
}
header .items .item .content .price{
    font-size: 1.5rem;
    color: var(--sc-color);
}
header .items .btn{
    width: 100%;
    text-align: center;
}
.home .home-content{
    background-image: url(../image/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; 
    top: 0; left: 0; right: 0;
    position: relative;
}
.home .home-content .home-i{
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%; left: 31%;
    margin: 5rem;
    flex-wrap: wrap;
}

.home .home-content .home-i img{
    width: 15rem;
    animation: coffe 2.5s linear infinite;
}
@keyframes coffe{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(3.2rem);
    }
} 
.home .home-content .home-i h1{
    font-size: 4.3rem;
}
.home .home-content .home-i p{
    font-size: 1.7rem;
}
.about{

    min-height: 110vh;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}
.about .row .image img{
    width: 30rem;
    height: 25rem;
    object-fit: cover;
} 


.about .row .content h3{
    font-size: 3rem;
    margin: 2rem;
} 
.about .row .content p{
    font-size: 1.9rem;
    margin: 1.1rem;
    color: rgb(0, 0, 0);
}
.products{
    background: #333;
    min-height: 140vh;
}
.products .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 0.8rem;
    margin: 2.5rem auto;
    width: 90%;

}
.products .row .colm{
    padding: 1rem;
    text-align: center;


}
.products .row .colm:hover{
    box-shadow: var(--box-shodow);
    background: #eee; 
    border-radius: 1rem;
    transform: translateY(-1rem); 
}
.products .row .colm .image img{
    width: 12rem;
    height: 15rem;

}
.products .row .colm .content h3{
    font-size: 3rem;
    color: #000;
}
.products .row .colm .content .content-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.products .row .colm .content .content-p .price{
    border: 0.1rem solid var(--sc-color);
    background: var(--sc-color);
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 1.3rem;
    color: #fff;
}
.products .row .colm .content .content-p .btn-p{
    color: #000;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    padding: 0.2rem 0.8rem;
}
.products .row .colm .content .content-p .btn-p:hover{
    background: var(--sc-color);
    color: #fff;
}
.gallery {
    background: #eee;
    min-height: 130vh;
}
.gallery .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 1rem;
    margin: 2.5rem auto;
    width: 90%;

}
.gallery .row .box{
    position: relative;
    height: 20rem;
    overflow: hidden;
}
.gallery .row .box:hover{
    box-shadow: var(--box-shodow);
    border: 0.1rem solid var(--mincolor);
}
.gallery .row .box:hover img{
    transform: translateY(-100%);
}
.gallery .row .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.gallery .row .box:hover .content{
    transform: translateY(0);
}
.gallery .row .box .content{
    position: absolute;
    top: 0; left: 0;
    background: rgb(245, 245, 245);
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    padding-top: 2.5rem; 
    border-radius: 10px;
}
.gallery .row .box .content h3{
    font-size: 2rem;
    color: #000;
}
.gallery .row .box .content p{
    padding: 1rem 0;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 0;
    

}
.review{
    background: #333;
}
.review .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 1rem;
    margin: 2.5rem auto;
    width: 90%;

}
.review .row .box{
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    margin: 4rem 0;
}
.review .row .box:hover{
    background: #eee;
    box-shadow: var(--box-shodow);
    transform: translateY(-1rem);
}
.review .row .box img{
    height: 20rem;
    width: 20rem;
    /* border-radius: 50%; */
}
.review .row .box h3{
    font-size: 1.8rem;
    color: #000;
}
.review .row .box p{
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 1rem 0;
}
.review .row .box .stars i{
    font-size: 1.5rem;
    color: var(--sc-color);
}
.contact{
    background: #eee;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 1.5rem;
}
.contact .row .form-c h3{
    font-size: 2.5rem;
    text-align: center;
}
.contact .row .form-c input{
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--sc-color);
    padding: 0.9rem 0.8rem;
    height: 2.3rem; width: 90%;
    margin: 0.5rem 0;
    color: #000;
    font-size: 1.5rem;
}
.contact .row .form-c input[type="submit"]{
    background: var(--sc-color);
    cursor: pointer;
    font-size: 1.6rem;
    height: 3rem; width: 90%;
    margin-bottom: 2rem;
    color: #fff;
}
.contact .row .form-c input[type="submit"]:hover{
    background: #fff;
    color: var(--sc-color);
}
.contact .row textarea{
    background: #fff;
    border: 0.1rem solid var(--sc-color);
    height: 12rem; width: 90%;
    padding: 0.5rem 0.8rem; 
    font-size: 1.5rem;
}
.blogs{
    background: #333;
}
.blogs .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    width: 90%;
    margin: 2.5rem auto;
    padding: 3.5rem 0;
    gap: 2rem;
}
.blogs .row .box img{
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}
.blogs .row .box{
    background: #fff;
    border: 0.1rem solid #333;
    text-align: center;
    border-radius: 0.5rem;
}
.blogs .row .box:hover{
    transform: scale(1.1);
}
.blogs .row .box h3{
    color: #000;
    font-size: 2rem;
    margin: 0.8rem;
}
.blogs .row .box p{
    font-size: 1.7rem;
}
.blogs .row .box .stars i{
    font-size: 1.7rem;
    color: var(--sc-color);
    margin: 0.3rem;
}
.footer{
    background: #eee;
    text-align: center;
}
.footer .share{
    padding-top: 6rem;
    margin: 2rem 0;
}
.footer .share a{
    height: 5rem; width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #000;
    border: 0.1rem solid var(--sc-color);
    margin: 0.3rem;
}
.footer .links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: 0.7rem 2rem;
    color: #000;
    border: 0.1rem solid var(--sc-color);
    font-size: 2rem;
}
.footer .links a:hover,
.footer .share a:hover{
    background: var(--sc-color);
}


/* media query */


@media (max-width:820px){
    html{
        font-size: 60%;
    }
    #bars-btn{
        display: inline-block;
    }
    header .navbar{
        position: fixed;
        /*   */ top: 1000rem;
        left:0;
        background: rgb(22, 22, 22);
        width: 100%;
        text-align: center;
        z-index: 1001;
    }
    header .navbar.active{
        top: 7rem;
    }
    header .navbar a{
        display: block;
        margin: 0.3rem 0;
        padding: 1rem 0;
        font-size: 2.3rem;
        color: #eee;
    }
    header .navbar a:hover{
        background: rgb(95, 95, 95);
    }

    .about .row{
        flex-flow: column;
    }
    .about .row .image img{
        width: 100%;
        object-fit: cover;
    }
    .products .row {
        display: flex;
        flex-flow: column;
        width: 90%;
    }
    .products .row .colm{
        width: 100%;
        margin: 0 auto;

    }
    .gallery .row{
        display: flex;
        flex-flow: column;
        width: 90%;
    }
    .gallery .row .box{
        width: 100%;
    }
    .review .row{
        display: flex;
        flex-flow: column;
        width: 90%
    }
    .review .row .box{
        width: 100%;
        margin: 0 auto;
    }
    .contact .row{
        flex-flow: column;
        width: 90%
    }
    .contact .row .ifarm iframe{
        width: 90%;
        margin: 0 auto;
    } 
    .blogs .row{
        display: flex;
        flex-flow: column;
        width: 90%
    }
    .blogs .row .box{
        width: 90%;
        margin: 0 auto;
    }


}